<h1 mat-dialog-title>Edit Project</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <input matInput name="title" placeholder="Title" [ngModel]="(project|async)?.title"
      (ngModelChange)="projectDoc.update({title: $event})">
  </mat-form-field>
  <mat-form-field class="full-width">
    <textarea matInput placeholder="Description" [ngModel]="(project | async)?.description"
      (ngModelChange)="projectDoc.update({description: $event})"></textarea>
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-icon-button mat-dialog-close>
      <mat-icon aria-label="Close">done</mat-icon>
    </button>
  </div>