<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<div *ngFor="let project of projects | async">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <markdown [data]="project.title"></markdown>
      </mat-card-title>
    </mat-card-header>
    <markdown [data]="project.description"></markdown>
    <mat-card-actions>
      <button mat-raised-button color="accent">Interested</button>
      <button mat-icon-button>
        <mat-icon aria-label="Edit" (click)="openEditDialog(project.id)">edit</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
<button mat-fab>
  <mat-icon aria-label="Add" (click)="addNewProject()">add</mat-icon>
</button>